API_GATEWAY_PORT=3001
USER_SERVICE_PORT=3002
SESSION_SERVICE_PORT=3003
USER_SERVICE_URL=http://localhost:3002
SESSION_SERVICE_URL=http://localhost:3003
EMAIL_SERVICE_PORT=3004
EMAIL_SERVICE_URL=http://localhost:3004
MONGO_URI=
API_KEY=
EMAIL_API_KEY=
MICROSOFT_SEND_MAIL_URL=
BACKEND_URL=http://localhost:3001
LOG_LEVEL=info
